<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>动漫之家排行爬取-2018201606李子豫</title>
    <!-- META TAGS -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- CSS FILES -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/fontawesome.css" rel="stylesheet" type="text/css">
    <link href="/static/css/slick.css" rel="stylesheet" type="text/css">
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <!-- READING POSITION INDICATOR -->
    <progress value="0" id="eskimo-progress-bar">
        <span class="eskimo-progress-container">
            <span class="eskimo-progress-bar"></span>
        </span>
    </progress>
    <!-- SITE WRAPPER -->
    <div id="eskimo-site-wrapper">
        <!-- MAIN CONTAINER -->
        <main id="eskimo-main-container">
            <div class="container">
                <!-- SIDEBAR -->
                <div id="eskimo-sidebar">
                    <div id="eskimo-sidebar-wrapper" class="d-flex align-items-start flex-column h-100 w-100">
                        <!-- LOGO -->
                        <div id="eskimo-logo-cell" class="w-100">
                            <a class="eskimo-logo-link" href="index.html">
                                <img src="/static/images/logo.png" class="eskimo-logo" alt="eskimo" />
                            </a>
                        </div>
                        <!-- MENU CONTAINER -->
                        <div id="eskimo-sidebar-cell" class="w-100">
                            <!-- MOBILE MENU BUTTON -->
                            <div id="eskimo-menu-toggle">MENU</div>
                            <!-- MENU -->
                            <nav id="eskimo-main-menu" class="menu-main-menu-container">
                                <ul class="eskimo-menu-ul">
                                    <li><a href="index.html">主页</a>
                                    </li>
                                    <li><a href="other-features.html">统计</a>

                                    </li>
                                    <li><a href="blog-3-column.html">漫画</a>
{#                                         <ul class="sub-menu">#}
{#                                            <li><a href="about.html">Demo 1</a></li>#}
{#                                            <li><a href="about-2.html">Demo 2</a></li>#}
{#                                        </ul>#}
                                    </li>

                                </ul>
                            </nav>
                        </div>
                        <!-- SOCIAL MEDIA ICONS -->
                        <div id="eskimo-social-cell" class="mt-auto w-100">
                            <div id="eskimo-social-inner">
                                <ul class="eskimo-social-icons">
                                    <li><a href="#"><i class="fa fa-wechat"></i></a></li>
                                    <li><a href="#"><i class="fa fa-qq"></i></a></li>
                                    <li><a href="#"><i class="fa fa-phone"></i></a></li>
                                    <li><a href="https://github.com/yinahou/photo-html"><i class="fa fa-github"></i></a></li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- TOP ICONS -->
                <div class="card card-horizontal">
                    <div class="card-body">
                        <div class="card-horizontal-left">
                            <div class="card-category">
                                <a href="index.html">EERROR</a> </div>
                            <h3 class="card-title"><a href="index.html">密码错误</a></h3>

                            <div class="card-excerpt">
                                <p>请输入正确的密码</p>



                            </div>
                            <div class="eskimo-view-more">
                    <a class="btn btn-default" href="index.html">重试</a>
                </div>
{#                            <div class="card-horizontal-meta">#}
{#                                <div class="eskimo-author-meta">#}
{#                                    <a class="author-meta" >更新至：第12话</a>#}
{#                                </div>#}
{#                                <div class="eskimo-date-meta">#}
{#                                    <a href="https://www.dmzj.com/info/xuejiyuqishi.html">热度：1570692</a>#}
{#                                </div>#}
{#                                <div class="eskimo-reading-meta">冒险；热血；格斗</div>#}
{#                            </div>#}
                        </div>

                    </div>
                </div>
                <!-- BLOG POSTS -->

            </div>
        </main>
        <!-- FOOTER -->
{#        <footer id="eskimo-footer">#}
{#            <div class="container">#}
{#                <div class="row eskimo-footer-wrapper">#}
{#                    <!-- FOOTER WIDGET 1 -->#}
{#                    <div class="col-12 col-lg-6 mb-4 mb-lg-0">#}
{#                        <h5 class="eskimo-title-with-border"><span>登录</span></h5>#}
{#                        <form method="post" action="index.html">#}
{#                            <label></label>#}
{#                            <div class="input-group">#}
{#                                <input type="email" class="form-control password-reset-link" name="EMAIL1" placeholder="输入您的邮箱" required />#}
{##}
{#                            </div><label></label>#}
{#                            <div class="input-group">#}
{#                                <input type="password" class="form-control" name="PASSWORD" style="mso-endnote-display: none" placeholder="输入您的密码" required />#}
{##}
{#                            </div><label></label>#}
{#                            <div class="input-group">#}
{#                                <input type="text" class="form-control" name="CHECK" placeholder="输入3+11=？" required />#}
{##}
{#                            </div><label></label>#}
{#                            <div class="input-group">#}
{#                                    <input type="submit" value="Sign in"  name="in" class="btn btn-default" />#}
{#                                <div>#}
{#                                    <a href="#sidepanel1" class="eskimo-panel-open"><i href="#end" class="btn btn-default">忘记密码？</i>#}
{#                                        <marquee direction="down"></marquee>#}
{#                                    </a>#}
{#                                </div>#}
{##}
{#                            </div>#}
{##}
{##}
{#                            <label></label>#}
{##}
{#                        </form>#}
{##}
{##}
{#                    </div>#}
{#                    <!-- FOOTER WIDGET 2 -->#}
{#                    <div class="col-12 col-lg-6">#}
{#                        <h5 class="eskimo-title-with-border"><span>注册</span></h5>#}
{#                        <form method="post" action="index.html">#}
{#                            <label></label>#}
{#                            <div class="input-group">#}
{#                                <input type="email" class="form-control" name="EMAIL2" placeholder="输入您的邮箱" required />#}
{##}
{#                            </div><label></label>#}
{##}
{#                            <div class="input-group">#}
{#                                <input type="text" class="form-control" name="USERNAME" placeholder="输入您的用户名" required />#}
{##}
{#                            </div><label></label>#}
{#                            <div class="input-group">#}
{#                                <input type="password" class="form-control" name="PASSWORD_IN" style="mso-endnote-display: none" placeholder="输入您的密码" required />#}
{##}
{#                            </div><label></label>#}
{#                            <div class="input-group">#}
{#                                <input type="password" class="form-control" name="PASSWORD_CONFIRM" style="mso-endnote-display: none" placeholder="确认您的密码" required />#}
{##}
{#                            </div><label></label>#}
{#                            <div class="input-group-append">#}
{#                                    <input type="submit" value="Sign Up" name="up" class="btn btn-default" />#}
{#                            </div>#}
{#                        </form>#}
{#                    </div>#}
{#                </div>#}
{#                <!-- CREDITS -->#}
{#                <div class="eskimo-footer-credits">#}
{#                    <p>#}
{#                        Made with love by <a href="https://themeforest.net/user/egemenerd" target="_blank">Egemenerd</a>#}
{#                    </p>#}
{#                </div>#}
{#            </div>#}
{#        </footer>#}
    </div>
    <!-- GO TO TOP BUTTON -->
    <a id="eskimo-gototop" href="#"><i class="fa fa-chevron-up"></i></a>
    <!-- SLIDE PANEL OVERLAY -->
    <div id="eskimo-overlay"></div>

    <!-- FULLSCREEN SEARCH -->
    <div id="eskimo-fullscreen-search">
        <div id="eskimo-fullscreen-search-content">
            <a href="#" id="eskimo-close-search"><i class="fa fa-times"></i></a>
            <form role="search" method="get" action="search.html" class="eskimo-lg-form">
                <div class="input-group">
                    <input type="text" class="form-control form-control-lg" placeholder="Enter a keyword..." name="s" />
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- JS FILES -->
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/salvattore.min.js"></script>
    <script src="/static/js/slick.min.js"></script>
    <script src="/static/js/panel.js"></script>
    <script src="/static/js/reading-position-indicator.js"></script>
    <script src="/static/js/custom.js"></script>
    <!-- POST SLIDER -->
    <script>
        (function($) {
            "use strict";
            $(document).ready(function() {
                $('#eskimo-post-slider').slick({
                    autoplay: true,
                    autoplaySpeed: 5000,
                    slidesToScroll: 1,
                    adaptiveHeight: true,
                    slidesToShow: 1,
                    arrows: true,
                    dots: false,
                    fade: true
                });
            });
            $(window).on('load', function() {
                $('#eskimo-post-slider').css('opacity', '1');
                $('#eskimo-post-slider').parent().removeClass('eskimo-bg-loader');
            });
        })(jQuery);
    </script>
    <!-- POST CAROUSEL -->
    <script>
        (function($) {
            "use strict";
            $(document).ready(function() {
                $('#eskimo-post-carousel').slick({
                    infinite: false,
                    slidesToScroll: 1,
                    arrows: true,
                    dots: false,
                    slidesToShow: 3,
                    responsive: [{
                        breakpoint: 992,
                        settings: {
                            slidesToShow: 2
                        }
                    }, {
                        breakpoint: 576,
                        settings: {
                            slidesToShow: 1
                        }
                    }]

                });
                $('#eskimo-post-carousel').css('opacity', '1');
            });
        })(jQuery);
    </script>
</body>

</html>